html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background: #f12711;
    background: -webkit-linear-gradient(to right, #f5af19, #f12711); 
    background: linear-gradient(to right, #f5af19, #f12711);

    font-family: "Roboto", "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    color: whitesmoke;
}

#container {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    position: relative;
    background-image: url('bg1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: round;
    
    border: 1px solid rebeccapurple;
    overflow: hidden;
    background-color: #009ad8;
    margin-top: 30px;
}

#score_help {
    text-align: center;
    font-size: 25px;
    background-color: green;
    color: #f5af19;
    border: 3px solid palevioletred;
    
}

#branch {
    position: absolute;
    height: 20%;
    width: 100%;
    top: 27%;
    background: url('bark1.png');
    background-size: 1600px 100px;
    background-repeat: no-repeat;
    margin-left: 250px;
    padding-left: 50px;
    padding-right: 200px;
    
    
}

.hen {
    position: absolute;
    height: 25%;
    width: 8%;
    top: 10%;
    background: url('hen-right.png');
    background-size: 150px 200px;
    background-repeat: no-repeat;
    z-index: 100;
}

#hen1 {
    left: 20%;
}

#hen2 {
    left: 46%;
}

#hen3 {
    left: 72.5%;
}

.egg {
    position: absolute;
    top: 18%;
    height: 5%;
    width: 2%;
    background-color: white;
    border-radius: 50%;
    z-index: 99;
}

#easy {
    height: 100%;
    margin-left: 5rem;
}

#egg1 {
    left: calc(20% + 8%/2 - 2%/2);
    top: 18%;
}

#egg2 {
    left: calc(46% + 8%/2 - 2%/2);
    top: 18%;
}

#egg3 {
    left: calc(72.5% + 8%/2 - 2%/2);
    top: 18%;
}

.bullseye {
    display: none;
    position: absolute;
    bottom: 0px;
    height: 7%;
    width: 7%;
    background: url('bullseye1.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 11;
}

#bullseye1 {
    left: calc(25% + 8%/2 - 7%/2);
}

#bullseye2 {
    left: calc(50% + 8%/2 - 7%/2);
}

#bullseye3 {
    left: calc(75% + 8%/2 - 7%/2);
}

#floor {
    position: absolute;
    height: 7%;
    width: 100%;
    background-color: #262936;
    bottom: 0;
    z-index: 10;
}

#basket {
    height: 100px;
    width: 85px;
    position: absolute;
    bottom: 5px;
    background: url('basket.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}

.selected {
    background-color: gold;
}

#score1 {
    position: absolute;
    color: #424242;
    font-size: 30px;
    top: 45%;
    left: 30%;
}

#restart {
    border: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: lightgreen;
    color: white;
    top: 50%;
    font-size: 35px; 
    display: none;
    cursor: pointer;
}

button {
    background-color: whitesmoke;
    border: none;
    height: 100%;
    font-weight: 550;
    color: steelblue; 
    letter-spacing: 1px;
    transition: all 5.0s;
    padding: 5px 9px;
    border-radius: 25%;
    margin-bottom: 10px;
}

.highscore {
    margin-left: 3rem;
}
